<% content_for(:home_section) do %>
  <section class="small-section bg-dark-alfa-30 parallax-2" data-background="<%= image_url 'section-bg-18.jpg' %>">
    <div class="relative container align-left">
      <div class="row">
        <div class="col-md-8">
          <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Collections</h1>
          <div class="hs-line-4 font-alt">
            An eye for detail makes our works excellent
          </div>
        </div>
        <div class="col-md-4 mt-30">
          <div class="mod-breadcrumbs font-alt align-right">
            <a href="#">Home</a>&nbsp;/&nbsp;<a href="#">Collections</a>&nbsp;/&nbsp;<span>Classic</span>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- Portfolio Section -->
<section class="page-section">
  <div class="container relative">
    <!-- Works Filter -->
    <div class="works-filter font-alt align-center">
      <a href="#" class="filter active" data-filter="*">All works</a>
      <a href="#branding" class="filter" data-filter=".branding">Branding</a>
      <a href="#design" class="filter" data-filter=".design">Design</a>
      <a href="#photography" class="filter" data-filter=".photography">Photography</a>
    </div>
    <!-- End Works Filter -->
    <!-- Works Grid -->
    <ul class="works-grid clearfix font-alt hover-white hide-titles" id="work-grid">

          <!-- Work Item (Lightbox) -->
          <li class="work-item mix photography">
              <a href="#" class="work-lightbox-link mfp-image">
                  <div class="work-img">
                      <img src="https://api.adorable.io/avatars/300/2" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Portrait</h3>
                      <div class="work-descr">
                          Lightbox
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix branding design">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/3" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Vase 3D</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix branding">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/4" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Boy in T-shirt</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix design photography">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/5" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Space</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix design">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/6" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Model</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix design photography">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/7" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Space</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix design">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/8" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Model</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix branding design">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/9" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Vase 3D</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix branding">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/10" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Boy in T-shirt</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix design photography">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/11" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Space</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix design">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/12" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Model</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix branding design">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/13" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Vase 3D</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix branding">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/14" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Boy in T-shirt</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix design photography">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/15" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Space</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (External Page) -->
          <li class="work-item mix design">
              <a href="#" class="work-ext-link">
                  <div class="work-img">
                      <img class="work-img" src="https://api.adorable.io/avatars/300/16" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Model</h3>
                      <div class="work-descr">
                          External Page
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

          <!-- Work Item (Lightbox) -->
          <li class="work-item mix design branding">
              <a href="#" class="work-lightbox-link mfp-image">
                  <div class="work-img">
                      <img src="https://api.adorable.io/avatars/300/17" alt="Work" />
                  </div>
                  <div class="work-intro">
                      <h3 class="work-title">Young Man</h3>
                      <div class="work-descr">
                          Lightbox
                      </div>
                  </div>
              </a>
          </li>
          <!-- End Work Item -->

      </ul>
      <!-- End Works Grid -->

  </div>
</section>
<!-- End Portfolio Section -->


<!-- Call Action Section -->
<section class="small-section bg-dark">
  <div class="container relative">
    <div class="align-center">
      <h3 class="banner-heading font-alt">Like Our Creative Works?</h3>
      <div>
        <a href="#" class="btn btn-mod btn-w btn-medium btn-round">Start Project</a>
      </div>
    </div>
  </div>
</section>
<!-- End Call Action Section -->
