<div class="image_wrap" image_id="<%= image.id %>">
  <span class="close"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
  <img src="<%= image.thumb_url %>" class="thumb_image"></img>
</div>
