<div id="image_preview">
  <div class="image_wrap" image_id="<%= image.id %>">
    <i class="fa deleter fa-trash-o" aria-hidden="true"></i>
    <img src="<%= image.thumb_url %>" class="thumb_image"></img>
    <% if image.id == product.featured_image %>
      <i class='fa thumber fa-star'></i>
    <% end %>
  </div>
</div>
